<div class="d-flex justify-content-center align-items-center" style="width: 100vw; height: 100vh; background-image: url( <%= image_path 'PwC_Habillage_ImageWeb.jpg' %>); background-size: cover; background-position: center">
  <%= image_tag 'Logo_PwC_FondNoir.png', class: "logo", id: "pwc_logo" %>
  <div style="width: 60vw; height: 60vh">
    <div style="width: 100%; height: 100%; background-image: url( <%= image_path 'pwc.png' %>); background-size: cover; background-position: center">
      <div style="position: relative; left: calc(100% - 25px); top: calc(100% - 30px);">
        <%= link_to '', url_for(image_path 'pwc.png'), download: "pwc", class: "fas fa-file-download fa-lg" %>
      </div>
    </div>
</div>
