<!-- home -->
<!-- 2022 V2 -->
<!-- <div class="d-flex justify-content-center align-items-center" style="width: 100vw; height: 100vh; background-image: url( <%#= image_path 'PwC_Habillage_ImageWeb.jpg' %>); background-size: cover; background-position: center">
  <%#= image_tag 'Logo_PwC_FondNoir.png', class: "logo", id: "pwc_logo" %>
  <div class="d-flex justify-content-center align-items-center", style="width: 60vw; height: 60vh">
    <iframe src="https://player.vimeo.com/video/651951843?h=ef03dffb4d" width="896" height="504" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
</div> -->

<!-- 2022 V1 -->
<!-- <div class="d-flex justify-content-center align-items-center" style="width: 100vw; height: 100vh; background-image: url( <%#= image_path 'PwC_Habillage_ImageWeb.jpg' %>); background-size: cover; background-position: center">
  <iframe src="https://player.vimeo.com/video/651951843?h=ef03dffb4d" width="896" height="504" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
</div> -->

<!-- 2021 -->
<!-- <div class="d-flex justify-content-center align-items-center" style="width: 100vw; height: 100vh; background-color: black">
  <iframe src="https://player.vimeo.com/video/492580196" width="1280" height="720" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</div> -->




<!-- strategy -->
<!-- 2022 -->
<!-- <div class="d-flex justify-content-center align-items-center" style="width: 100vw; height: 100vh; background-image: url( <%#= image_path 'PwC_Habillage_ImageWeb.jpg' %>); background-size: cover; background-position: center">
  <%#= image_tag 'Logo_Strategy&_FondNoir.png', class: "logo", id: "strategy_logo" %>
  <div class="d-flex justify-content-center align-items-center", style="width: 60vw; height: 60vh">
    <iframe src="https://player.vimeo.com/video/652911260?h=3ed783223f" width="896" height="504" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
</div> -->

<!-- 2021 -->
<!-- <div class="d-flex justify-content-center align-items-center" style="width: 100vw; height: 100vh; background-color: black">
  <iframe src="https://player.vimeo.com/video/493346902" width="1280" height="720" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</div>
 -->
